body {
  background-color: #131313;
}


.scrollable-tabs-container {
  font-family: "Dosis", sans-serif;
  background: #121212;
  max-width: 700px;
  margin: 16px auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container ul {
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
  display: none;
}

.scrollable-tabs-container a {
  color: #dddddd;
  text-decoration: none;
  background-color: #333;
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
  font-weight: bold;
  box-shadow: 0px 5px 5px black
}

.scrollable-tabs-container a.active {
  background: #fff;
  color: #000;
}

.platos {
  font-family: "Dosis", sans-serif;
  line-height:1.4em;
  color: rgb(255, 255, 255);
  user-select: none;
}

p {
  margin-top:-10px;
  color: #dadada;
  font-size: 18px;
  user-select: none;
}
i {
  font-family: Rubik;
  color: #e2e2e2;
  font-weight: bold;
  user-select: none;
}
hr {  
  margin-right: 30%;
  margin-bottom: 5%;
}
h2 {
  margin-bottom: 0%;
}
img {
    padding: 5px;
    max-width: 99%;
    margin-bottom: -6%;
    margin-top: -5%;
}